{% extends 'base.html' %}
{% block content %}
<head>

<style>
    h3 { text-align: center; }
    #container {
            margin: auto ;
            margin-right: 10px;
            width: 800px;
            height: 800px;
            border: 0px;
        }
    #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
    }
    h2{ text-align:center; margin-top: 10px; }
    video {
        width: 500px;
        height: 375px;
        border:1px solid black;
      }

</style>
<script src="http://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<link rel="shortcut icon" type="image⁄x-icon" href="../img/MZtoDfabicon.jpg">
</head>
<body>
    <!--내 화면 -->
    <div class="section" style=" width: 500px;height: 375px; border:1px solid black; float:left;margin-right:20px;"> 
        <video id="video-output" ></video>
        <br>
        <span><button id="start-btn">녹화 시작</button></span>
        <span><button id="finish-btn">녹화 종료 및 저장</button></span>
    </div>
    <!--교육/레이블 영상 -->
    <video autoplay controls loop muted  style=" width: 500px;height: 375px; border:1px solid black; float:left;">
        <source src="../img/class_label_unestimated.mp4" type="video/mp4" >        
    </video> 
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="section" style=" width: 320px; height: 250px; clear:both;float:left;margin-left:100px;"> 
        <video id="recorded-video" controls="" ></video>
        <form id="filename-form">
            <input value="파일명" type="text" placeholder="파일명">
            <button> 파일명 입력</button>
        </form>
        <button id="download-btn">다운로드</button>
    </div>
    <script type="text/javascript" src="webcam.js"></script>
</body>





