<!-- 네비게이션바 -->
{% block navbar_item %}
<div class="header">
    <a href="/main"><img class="header_logo"; src="{{url_for('static', path='/img/MZtoD로고.jpeg')}}"></a>
    {% if username is defined and username is not none %}
    <div class= "header_nav">
        <div class= "header_option">
                <a class="" href="/logout">로그아웃 ({{ username }})</a>
        </div>
        <div class= "header_option">
                <a class="" href="/mypage/{{username}}">마이페이지 </a>
        </div>
        <div class= "header_option">
                <a class="" href="/mypage/{{username}}">수강 클래스 </a>
        </div>
    </div>

    {% else %}
    <div class= "header_nav">
        <div class= "header_option">
                <a  href="/login">로그인</a>
        </div>
        <div class= "header_option">
                <a href="/signup">회원가입</a>
        </div>
    </div>


{% endif %}
</div>
{% endblock navbar_item %}

